.fa-star {
    cursor: pointer;
}

.fa-trash-alt {
    cursor: pointer;
}

.fa-trash-alt:hover {
    color: red ;
}

.flash-msg-container {
    margin-top: 5rem;
}

.publisher-img {
    height: 1.2rem;
}

.form-control:focus {
    border-color: #17a2b8;  
    box-shadow: none; 
    -webkit-box-shadow: none;
} 
.has-error .form-control:focus {
    box-shadow: none; 
    -webkit-box-shadow: none;
}

#profile-card {
    width: 12rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
  }

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding-top: 1rem;
    border-top: 1px solid #dee2e6;
    text-align: center;
}

@media (max-width: 576px) {
    #topics-container {
        margin-left: 1rem;
    }

    #stories-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #search-container {
        margin-left: 1rem;
    }

    #nav-search {
        margin-top: 1rem;
    }

    #saved-article-url {
        display: none;
    }

    .saved-article-name {
        font-size: .9rem;
    }

    #navbar-brand {
        margin-left: 1rem;
    }

    .article-description {
        display: none;
    }

    .publisher-container {
        margin-top: 1rem;
    }

}

@media (min-width: 576px) {
    .form-container {
        width: 30rem;
    }

    #navbar-brand {
        margin-left: 5rem;
    }

}

@media (min-width: 992px) {
    .flash-msg-container {
        width: 25%
    }
}