{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="container mt-5 form-container">
    <div class="row justify-content-center">
        <div class="col border rounded p-4">   
            <p class="h2 text-center">Edit Profile</p>   
            <form method="POST" id="" class="my-3">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    <small class="font-weight-bold">{{field.label}}</small>
                    {{ field(placeholder=field.label.text, class="form-control") }}
                    {% for error in field.errors %}
                        <span class="text-danger"><small>{{ error }}</small></span>
                    {% endfor %}
                </div>
                {% endfor %}
                <p><small class="font-italic">Setting your preferred region will determine available categories and where articles come from.</small></p>

                <button class="btn btn-primary mt-3">Submit</button>
                <a href="/user/{{g.user.id}}" class="btn btn-link mt-3">Cancel</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}


